.del {
    padding-bottom: 15px;
}

.styl {
    content: '';
    display: block;
    margin-top: 2px;
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff
}

h1,
h2 {
    text-align: center;
    color: white;
}

.card-body {
    margin-bottom: 20px;
    background-color: #1C2833;
    color: white;
    text-shadow: 0 0 10px #873600;
    box-shadow: 0 0 7px #922B21;
}

.all {
    background-image: url("//src/assets/sunset-with-the-hills.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    padding-bottom: 20px;
    padding-top: 20px;
}