<div class="container-fluid">
    <h2 class="text-center">Create Your Own Quotes</h2>
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="real">
            <div class="form-group">
                <label for="quo">Quote:</label>
                <textarea class="form-control" name="quo" id="quo" rows="4" required #quo='ngModel' [(ngModel)]="newQuote.name"></textarea>

                <div [hidden]="quo.valid || quo.pristine" class="alert alert-danger">
                    <p>Quote is required</p>
                </div>
            </div>
            <div class="form-group">
                <label for="author">Author:</label>
                <input type="text" name="author" id="author" class="form-control" required #author="ngModel" [(ngModel)]="newQuote.description">

                <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                    <p>Author is required</p>
                </div>
            </div>

            <div class="form-group">
                <label for="author">Created by:</label>
                <input type="text" name="name" id="name" class="form-control" required #name='ngModel' [(ngModel)]="newQuote.submittedBy">

                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    <p>Name is required</p>
                </div>

            </div>

            <div class="form-group">
                <label for="complete">Date:</label>
                <input type="date" name="date" id="date" class="form-control" required #date='ngModel' [(ngModel)]="newQuote.Date">

                <div [hidden]="date.valid || date.pristine" class="alert alert-danger">
                    <p>Date is required</p>
                </div>
            </div>
            <button type="submit" class="btn btn-dark">Create Quote</button>
        </div>
    </form>

</div>